<%- include('./partials/Header.ejs') %>
<%- include('./partials/Navbar.ejs') %>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-sm-6 offset-3 mt-5">
            <h1>Cookies are Send or Set...</h1>
            <ul class="list-unstyled ">
                <li><a href="/app/getcookie" class="text-decoration-none">get Cookie</a></li>
                <li><a href="/app/setcookie" class="text-decoration-none">set Cookie</a></li>
                <li><a href="/app/delcookie" class="text-decoration-none">del Cookie</a></li>
            </ul>
        </div>
    </div>
</div>
<%- include('./partials/Footer.ejs') %>
